html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  color: #000;
  font-weight: 400;
  background-color: #f3f3f3;
}

input {
  
  background: transparent;
}