

.info {
  display: flex;
  justify-content: space-between;

  .item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    .icon {
      width: 24px;
      height: 24px;
    }
  }

  .wind {
    margin-left: 3px;
  }
}