
.temperature {
  display: flex;
  align-items: center;
  gap: 15px;
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .temp {
      display: flex;
      align-items: center;
      font-size: 48px;
      font-weight: 600;
      .text::after {
        content: '\00B0';
        font-weight: 600;
      }
    }
    .subtemp {
      display: flex;
      opacity: 0.7;
      .min::after,
      .max::after {
        content: '\00B0';
        font-weight: 400;
      }
    }
  }
  
  .sub {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .group {
      .type {
        font-size: 16px;
        font-weight: 500;
      }
      .description {
        opacity: 0.7;
      }
    }
    
    .feels {
      color: #00000093;
      .subFeels {
        color: #000;
        &::after {
          content: '\00B0';
          font-weight: 400;
        }
      }
    }
  }
}